@{
    Layout = null;
}
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!-- Kendi Stil Dosyan -->
<link rel="stylesheet" href="~/css/style.css" />
<!DOCTYPE html>
<html>
<head>
    <title>Erişim Reddedildi</title>
</head>
<body>
    <h2>Erişim Reddedildi</h2>
    <p>Bu sayfaya erişim izniniz yok.</p>
    <a asp-action="Login" asp-controller="Auth">Giriş Sayfası</a>
</body>
</html>
