@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Şifre Sıfırlama";
}
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<!-- Kendi Stil Dosyan -->
<link rel="stylesheet" href="~/css/style.css" />
<h2>Şifre Sıfırlama</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label>Yeni Şifre</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Yeni Şifre (Tekrar)</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
</form>
